<div class="modal-header">
    <button class="close"
            ng-click="ctrl.close()">
        &times;
    </button>
    <h4 class="modal-title">Add reader </h4>
</div>
<div class="modal-body"
     id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputReaderFName" class="col-sm-4 control-label">
                First name:
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputReaderFName" placeholder="First name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputReaderMName" class="col-sm-4 control-label">Middle name:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputReaderMName" placeholder="Middle name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderLName">Last name:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Last name" id="inputReaderLName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderPhone">Phone:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Phone" id="inputReaderPhone"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderCountry">Country:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Country" id="inputReaderCountry"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderCity">City:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="City" id="inputReaderCity"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4  control-label" for="inputReaderStreet">Street:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Street" id="inputReaderStreet"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderHouse">House:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="House" id="inputReaderHouse"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputReaderBirth">Date of birth:</label>

            <div class="col-sm-8">
                <input type="date" class="form-control" placeholder="Date of birth"
                       id="inputReaderBirth"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div id="addReaderResult" style="display: inline-block"></div>
    <button id="add-reader"
            class="btn btn-default"
            ng-click="ctrl.add()">
        Add
    </button>
</div>